


/* font-family: 'Lato', sans-serif; */

*{
    margin: 0;
    padding: 0;
}
h1 h2 h3 h4 h5 h6 p ul li {
    margin: 0;
    padding: 0;
}
header{

background: #f6f9f9;

padding: 17px 0px;
}
.header_wrapper{

width: 76%;

margin: auto;

display: flex;

justify-content: space-between;

flex-wrap: wrap;

align-items: center;
}
.logo{

width: 30%;
}
.logo img{

}
nav{

width: 70%;
}
 nav ul{
    
display: flex;
    
justify-content: end;
    
flex-wrap: wrap;
}
 nav ul li{
    
margin-left: 40px;
    
list-style: none;
}
 nav ul li a{
    
text-decoration: none;
    
text-transform: uppercase;
    
font-size: 17px;
    
font-family: 'Lato', sans-serif;
    
font-weight: 400;
    
color: #2d3950;
}
.banner{background-image: url(../images/banner.png);background-repeat: no-repeat;background-position: center;min-height: 90vh;display: flex;justify-content: center;align-items: center;}
.banner_content{

width: 35%;

text-align: center;
}
.banner_content h1{font-family: 'Lato', sans-serif;font-weight: 400;font-size: 80px;color: white;}
.banner_content span{
    
display: block;
    
background: #15a4fa;
    
height: 2px;
}
.banner_content p{

color: white;

margin: 20px 0px 35px 0px;

font-family: 'Lato';

font-weight: 400;
}
.banner_content button{
    
border: none;
    
border: 2px solid #15a4fa;
;
    
padding: 16px 29px;
    
border-radius: 5px;
    
font-family: 'Lato', sans-serif;
    
font-weight: 400;
    
background: transparent;
    
transition: .4s all ease-in-out;
    
cursor: pointer;
    
color: white;
    
font-size: 15px;
}
.banner_content i{
    
color: white;
    
margin-top: 45px;
}

.banner_content button:hover{
    background: #15a4fa;
    color:white;
}
.content{ 

}
.content1{

background: #f6f9f9;
}
.content_text{

width: 70%;

margin: auto;

text-align: center;

padding: 60px 0px;
}
.content1 h1{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 26px;
}
.content1 p{font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;}
.content2{

width: 70%;

margin: auto;

display: flex;

justify-content: space-between;

padding: 35px 0px;
}
.content_manu{

width: 30%;

text-align: center;
}
.content_manu h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 20px 0px 20px 0px;
    font-size: 19px;
}
.content_manu p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
.phon{

background-image: url( ../images/color.png);

width: 75px;

height: 75px;

margin-left: 80px;

display: flex;

justify-content: center;

align-items: center;
}
.phon i{
    
font-size: 32px;
    
color: white;
}















